<template>
  <div class="container">
    <div class="row" v-show="alert">
        <div class="col-sm">
            <div class="alert alert-primary" role="alert">
                <div v-for="(item,index) in notification" :key="`${item.id}_${index}`">
                    {{item.value}}
                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div v-for="(item,key) in food" class="col-sm" :key="key">
            <div class="form-group">
                <div class="form-check form-check-inline" v-for="(d,i) in item" :key="`key_${i}`">
                    <input class="form-check-input" type="radio" :name="`group_${key}`" :id="d.value" :value="d.id" v-model.lazy="selected[key]" v-on:input="getData(key)" :disabled="disableFormInit(key)">
                    <label class="form-check-label" :for="d.value">{{d.value}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary" @click="Submit">Submit</button>
        </div>
    </div>
    <div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
    data: () => ({
        key : null,
        selected : [],
        disable_group : [ 1, 2 ],
        disable : true,
        alert : false
    }),    
    computed : {
        ...mapState('foods',['food','notification'])
    },
    methods : {
        getData(key){
            this.$store.commit('foods/setKey', key)
            setTimeout(() => {
                
                let index = this.disable_group.indexOf(key + 1);

                 if ( key === 0 && this.disable) {
                     this.disable_group.splice(index, 1);
                 }

                 if ( key === 1 && this.disable ) {
                     this.disable_group = []
                 } else if (this.disable && key === 1) {
                     this.disable_group.push(2)
                 }
                
            },500)
            
        },
        disableFormInit(key){
            return this.disable_group.includes(key)
        },
        Submit(){
            if (this.selected.length >= 3 && this.disable) {

                this.$store.dispatch('foods/showFoodData', this.selected)
                    .then((results) => {
                        this.alert = true
                    })
            } else {
                return
            }
        }
    },
    watch : {
        selected(newval,oldval){
            this.$store.dispatch('foods/setSelectedFood', newval)
                .then((results) => {
                    this.disable = results
                     console.log(this.disable)
                })
        }
    }
}
</script>
